body{
    margin: 0;
    padding: 0;

    background-color: #505D6E;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("temporary-background.png");
    min-height: 100%;
    background-size: cover;


}

@media (max-width: 1920px) {
    body {
      background-image: url("temporary-background.png");
    }
  }
  
  @media (max-width: 500px) {
    body {
      background-image: url("temporary-background.png");
    }
  }

.personalprojectspage{
    width: 53.125rem;
    padding: 12.5rem;
    margin: auto;

    text-align: left;
    margin-top: 5%;
    color:aliceblue;
    
    /*Color and font adjusment*/
    background: rgba(50, 40, 100, .5);
    font-family: 'Century Gothic',sans-serif;

    border: 2px solid;
    border-color: lightcyan;

     /* animation transition*/
    opacity: 0;
    animation: fadeInUp 1s ease-out; 
    opacity: 1;
}

/* animation transition*/
@keyframes fadeInUp{
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
}

.personalprojectspage h1{

    margin: 0.625rem;
    margin-top: -6.25rem;

}

.personalprojectspage p1{

    margin: auto;

    text-align: center;
    line-height: 1.8;

}